{% extends "base_table.html" %}

{% block title %}Rules{% endblock %}

{% block page_content %}
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Store</th>
                <th>Description</th>
                <th>Area</th>
                <th>Segment</th>
                <th>Antecedent</th>
                <th>Consequent</th>
                <th>Confidence</th>
                <th>Lift</th>
                <th>Support</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in rules %}
                <tr>
                    <td>{{ rule.store_id }}</td>
                    <td>{{ rule.store_description_en }}</td>
                    <td>{{ rule.area }}</td>
                    <td>{{ rule.segment_en }}</td>
                    <td>{{ rule.antecedent }}</td>
                    <td>{{ rule.consequent }}</td>
                    <td>{{ rule.confidence }}</td>
                    <td>{{ rule.lift }}</td>
                    <td>{{ rule.support }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    { orderable: true, searchable: true },
                    { orderable: true, searchable: true },
                    { orderable: true, searchable: true },
                    { orderable: true, searchable: true },
                    { orderable: false, searchable: false },
                    { orderable: false, searchable: false },
                    { orderable: true, searchable: false },
                    { orderable: true, searchable: false },
                    { orderable: true, searchable: false }
                ],
            });
        });
    </script>
{% endblock %}
