<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Association App{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        nav { background-color: #333; padding: 1em; }
        nav ul { list-style-type: none; }
        nav ul li { display: inline; margin-right: 10px; }
        nav ul li a { color: white; text-decoration: none; }
        nav ul li a:hover { text-decoration: underline; }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Association App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/item-sets">Item Sets</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Association Web App 2024 </p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
